# Managed by Ansible (role: vulkan)
{% if vulkan_override_icd_filenames | length > 0 %}
export VK_ICD_FILENAMES="{{ vulkan_override_icd_filenames }}"
{% endif %}

# Optionally source Vulkan SDK environment
{% if vulkan_sdk_setup_env %}
[ -f "{{ vulkan_sdk_root_dir }}/setup-env.sh" ] && . "{{ vulkan_sdk_root_dir }}/setup-env.sh"
{% endif %}
{% if vulkan_layer_path | length > 0 %}
export VK_LAYER_PATH="{{ vulkan_layer_path }}"
{% endif %}
